AIShakeDie/.pio
AIShakeDie/.vscode
AIShakeDie/.vscode/.browse.c_cpp.db*
AIShakeDie/.vscode/c_cpp_properties.json
AIShakeDie/.vscode/launch.json
AIShakeDie/.vscode/ipch
EdgeImpulse/.pio
EdgeImpulse/.vscode
EdgeImpulse/.vscode/.browse.c_cpp.db*
EdgeImpulse/.vscode/c_cpp_properties.json
EdgeImpulse/.vscode/launch.json
EdgeImpulse/.vscode/ipch
WIOImuTap/.pio
WIOImuTap/.vscode
WIOImuTap/.vscode/.browse.c_cpp.db*
WIOImuTap/.vscode/c_cpp_properties.json
WIOImuTap/.vscode/launch.json
WIOImuTap/.vscode/ipch